%section#tff-lamb.callout
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center.long-down
        = image_tag 'tucker_farm_divider_top'
    .row
      .col-sm-10.col-sm-offset-1
        %h2.callout-text Animals

-# About sheep
%section#about.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title How we raise our sheep
          %h3.module-subtitle An alternative approach
    .row
      .col-sm-8.col-sm-offset-2
        Many lambs are grass-fed and grain finished, but our lambs are
        completely grass-fed on a pasture rotation plan. Therefore, they are
        raised slowly to maturity which produces a wonderful, mild flavor that
        will surprise you if you have never had this type of lamb before.

%section#tff-pigs-parallax.callout.parallax
  .container
    .row
      .col-sm-12
        %h2.callout-text How we raise our pigs


-# About pigs
%section#about.module
  .container
    .row
      .col-sm-8.col-sm-offset-2
        Our pigs are raised to produce pork that is very different from
        conventional pork. We raise Berkshire pigs, a heritage breed, acclaimed
        for their toothsome flavor. We take pride in the unique diet offered to
        our pigs. The pigs move between native grass pastures, specially seeded
        perennial pastures, and fields seeded with flavor-enhancing annual
        crops. On this fresh pasture rotation the pigs can munch on grasses,
        roots, and herbs, and lead happy lives rooting around, wallowing, and
        playing together.
    %br
    .row
      .col-sm-8.col-sm-offset-2
        In addition, our pigs are fed seasonal fruits and vegetables. Each
        season offers distinct feeding options and one-of-a-kind flavor
        opportunities. We supplement our pigs with our own carefully crafted
        Montana grown organic grain mixes (no corn or soy), mixed and ground on
        our farm, along with stillage from Montgomery Distillery and brewery
        grain from local brewers.
    %br
    .row
      .col-sm-8.col-sm-offset-2
        Pork, more than any other meat, gives one the taste of the place,
        season, and husbandry style in which the animal is raised.  We want you
        to taste the unique quality of Tucker Family Farm pork.
    %br
    %br
