%section#tff-farm-careers.callout
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center.long-down
        = image_tag 'tucker_farm_divider_top'
    .row
      .col-sm-10.col-sm-offset-1
        %h2.callout-text Employment

%section#about.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Career opportunities
          %h3.module-subtitle Do something different
    .row
      .col-sm-8.col-sm-offset-2.text-left
        We offer 1 dairy/farm apprenticeship starting in Mid-January and continuing through October or November.
    %br
    .row
      .col-sm-8.col-sm-offset-2.text-center
        = link_to farm_careers_download_path, class: 'btn btn-primary' do
          Learn More
          %span.icon-info{'aria-hidden' => 'true'}
    .row
      .col-sm-4.col-sm-offset-4
        .devider
          = image_tag 'tucker_farm_icon'
