%section#tff-creamery-careers.callout
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center.long-down
        = image_tag 'tucker_farm_divider_top'
    .row
      .col-sm-10.col-sm-offset-1
        %h2.callout-text Employment

%section#about.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Career opportunities
          %h3.module-subtitle Do something different
    .row
      .col-sm-8.col-sm-offset-2.text-left
        %span.highlight Creamery Intern:
        internships are a wonderful 3 month introductory opportunity to working
        on a farmstead creamery business. Tasks include milking sheep, feeding
        animals, affinage, making fresh cheese, packing cheese for orders,
        cleaning dishes and maintenance projects.
    %br
    .row
      .col-sm-8.col-sm-offset-2.text-left
        %span.highlight Creamery Apprentice:
        apprenticeships are a full education and immersion into the operation of
        a farmstead creamery. No previous experience is required, but an eager
        attitude for learning and appreciation for artisan cheese is a must. The
        training and exposure builds in complexity, starting with milking,
        animal care, affinage, cleaning dishes, maintenance projects and fresh
        cheese making techniques. It then builds towards learning our farm’s full
        range of 8-10 cheeses (which vary among hard cheeses, aged blues, and
        young semi-soft small wheels).
    %br
    .row
      .col-sm-8.col-sm-offset-2.text-center.btn-list
        = link_to creamery_careers_download_path, class: 'btn btn-primary' do
          Learn More
          %span.icon-info{'aria-hidden' => 'true'}
        = link_to creamery_apply_now_download_path, class: 'btn btn-success' do
          Apply Now
          %span.icon-energy{'aria-hidden' => 'true'}
    .row
      .col-sm-4.col-sm-offset-4
        .devider
          = image_tag 'tucker_farm_icon'
