%section#tff-creamery-careers.callout
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center.long-down
        = image_tag 'tucker_farm_divider_top'
    .row
      .col-sm-10.col-sm-offset-1
        %h2.callout-text Employment

%section#about.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Career opportunities
          %h3.module-subtitle Do something different
    .row
      .col-sm-8.col-sm-offset-2.text-left
        %span.highlight Creamery Intern:
        internships are a great introductory opportunity to working at a
        farmstead creamery business. Tasks include milking sheep three times per
        week, affinage, making fresh cheeses, packing cheese for orders, and
        cleaning dishes and maintenance projects. We will look to hire the 2018
        Creamery Apprentice based on the pool of 2017 interns and their
        interest, commitment, attitude, and abilities demonstrated during their
        internship.
    %br
    .row
      .col-sm-8.col-sm-offset-2.text-left
        %span.highlight 2017 Creamery Apprentice:
        apprenticeships are a full immersion into the operation of a farmstead
        creamery. The training and exposure builds in complexity, starting with
        affinage, cleaning dishes, maintenance projects and fresh cheese making
        techniques, and building towards learning our farm’s full range of 8-10
        cheeses (which vary among hard cheeses, aged blues, and young semi-soft
        small wheels). The apprentice is also responsible for packing orders
        for our wholesale and distribution customers and Farmer’s Markets.
        On Saturdays, the apprentice will manage the stand at the Missoula’s
        Farmer’s Market where he/she will be well versed in the history,
        techniques and flavors of our cheese.
    %br
    .row
      .col-sm-8.col-sm-offset-2.text-center
        = link_to creamery_careers_download_path, class: 'btn btn-primary' do
          Learn More
          %span.icon-info{'aria-hidden' => 'true'}
    .row
      .col-sm-4.col-sm-offset-4
        .devider
          = image_tag 'tucker_farm_icon'
