- if flash[:error]
  .alert.alert-danger.long.alert-dismissible
    %button.close{ 'data-dismiss': 'alert', 'aria-label': 'Close', style: 'top: 5px;' }
      %span{ 'aria-hidden': 'true' } &times;
    %strong Oh snap!
    = flash[:error]

- if flash[:success]
  .alert.alert-success.alert-dismissible
    %button.close{ 'data-dismiss': 'alert', 'aria-label': 'Close', style: 'top: 5px;' }
      %span{ 'aria-hidden': 'true' } &times;
    %strong Well done!
    = flash[:success]
