%section#about.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Discover our story
          %h3.module-subtitle Welcome to Tucker Family Farm
    .row
      .col-sm-8.col-sm-offset-2
        It has been a gradual metamorphosis that has brought us to this point.
        After getting married, Kendra and I (Tyler) moved to Missoula so that I
        could start graduate school for something completely unrelated to
        farming.
        %br
        %br
      .col-sm-8.col-sm-offset-2
        These years were pivotal in my growing interest in agriculture. A family
        orchard on Flathead Lake inspired dreams of becoming a small orchard
        owner. At the same time I was introduced to Kendra’s relatives in the
        Bitterroot – who, if anyone deserves the blame for our move to
        agriculture, it would be this wonderful family. I supplemented arduous
        weeks studying with enjoyable weekend trips down to their farm.
        %br
        %br
      .col-sm-8.col-sm-offset-2
        It was at this time that I became aware of the problems with
        conventional food systems and I began to contemplate solutions. My
        studies at school became less interesting as my enthusiasm for farming
        grew. I spent all my free time researching farming methods, talking with
        farmers, and writing up my own farming plans. It was during a week-long
        study binge just prior to finals that I decided to pursue an
        agricultural training experience. Kendra and I began to look for farm
        experiences overseas. We found an organic sheep dairy farm outside of
        Regensburg, Germany through the World Wide Opportunities on Organic
        Farms organization. We applied to be interns. We moved to Germany in the
        fall of 2010 to train with Franz and Ruth at Die Grune Ecke farm.
        %br
        %br
      .col-sm-8.col-sm-offset-2
        This time in Germany cemented my desire to farm. It was also a crucial
        learning experience for how animals and food could be raised and
        prepared, different from anything we had ever experienced before. The
        farm was diverse. It was not only a sheep dairy, but they raised pigs,
        cattle, and chickens alongside their market garden and amongst fields of
        grain, pasture, and hay. Nearly all of the animal feed was raised on the
        farm. This was the experience I had been looking for: a diverse farm,
        capable of sustaining itself with very limited external input. I learned
        about making feeds without genetically modified grains, seed mixes to
        improve pasture nutrition, and alternative feeding options using
        fermentation. While we have a ways to go before we have a closed loop
        system on our own farm, it is our goal to become like our friends in
        Germany and raise as much feed for the animals as possible on our own
        land.
        %br
        %br
      .col-sm-8.col-sm-offset-2
        We also had a culinary awakening in Germany concerning pork. I decided
        then to raise pigs (not my original idea). The only pork Kendra and I
        had ever eaten before Germany was store pork – the pork most of us are
        familiar with. The gray, flavorless stuff they call pork at the stores
        just didn’t do it for me. On the farm (and everywhere in Germany) pork
        is completely different. The pork had color (it was not whitish grey),
        it also had flavor (it did not taste like chicken, it most certainly was
        not the “other white meat”), it was juicy, savory, and versatile, it was
        not the sideline meat but the headliner. We believe that it would be a
        great tragedy if anyone went through life assuming that the stuff at the
        store is pork. The first animal we decided to raise coming back was a
        “German style pig” using some of the feeding strategies used on the farm
        in Germany. If you have not had real pork, please give it a try.
        %br
        %br
      .col-sm-8.col-sm-offset-2
        Our first year back from Germany I raised a few pigs and a couple of
        turkeys while I was still working at the University. I was sitting at a
        desk during the day and farming by night. I could not handle the desk
        any longer, and started to evaluate the idea of farming full time. I did
        not think about the idea very long. Kendra and I, with my parents, Jerry
        and Kim Tucker, purchased 84 acres in the Bitterroot in the spring of
        2012. Within two months we moved outside Victor and started raising
        nearly 800 animals: chickens, ducks, turkeys, geese, cows, lambs and
        pigs.
        %br
        %br
      .col-sm-8.col-sm-offset-2
        Now we invite you to join us in the journey. We hope that you, like us,
        want something more than food which, even though it is labeled as
        “healthy,” has been raised in horrific conditions, fed unmentionable
        things, sprayed, packaged, and transported long distances. We hope you,
        like us, want food that is raised how food should be raised by local
        family farmers.
      .col-sm-8.col-sm-offset-2
        We will always strive to give you not only the most healthy and humanely
        raised food, but food that amazes you with rich aromas and profound
        flavor. We invite you to join us. We are here to reclaim food.
    .row
      .col-sm-4.col-sm-offset-4
        .devider
          = image_tag 'tucker_farm_icon'
