%section#home.intro-module.module-image.parallax.heightfull.bg-dark-alfa-30
  .intro
    .intro-slider
      .owl-item
        %h1.intro-title Grass-fed lamb and pastured pork.
      .owl-item
        %h1.intro-title Farmstead cave aged sheep cheese.
  .mouse-icon
    .wheel
