%section#services.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Why did we begin?
          %h3.module-subtitle Values
    .row
      .col-sm-3
        .iconbox
          .iconbox-body.equal-height
            .iconbox-icon
              %span.icon-calendar
            .iconbox-text
              %h3.iconbox-title Concern
              .iconbox-desc
                We have a deep displeasure in conventionally produced food.
      .col-sm-3
        .iconbox
          .iconbox-body.equal-height
            .iconbox-icon
              %span.icon-directions
            .iconbox-text
              %h3.iconbox-title Problem
              .iconbox-desc
                The animals are treated horrifically and the taste is disheartening.
      .col-sm-3
        .iconbox
          .iconbox-body.equal-height
            .iconbox-icon
              %span.icon-map
            .iconbox-text
              %h3.iconbox-title Solution
              .iconbox-desc
                Our mission is to produce flavorful meat products from happy animals.
      .col-sm-3
        .iconbox
          .iconbox-body.equal-height
            .iconbox-icon
              %span.icon-like
            .iconbox-text
              %h3.iconbox-title Come see
              .iconbox-desc
                You are always welcome to call and come visit the farm.

    .row
      .col-sm-8.col-sm-offset-2.text-center.long-up
        “We had been eating the pork chops from you quite regularly. Our kids
        loved them (as did the adults). We had run out of Tucker Family Farm
        pork chops one night. I told the kids I would fix whatever they wanted
        to celebrate the end of their performance in a local play. They wanted
        pork chops, of course. I went to a store with high quality meat and
        bought the chops. I prepared them the same way I always do. The boys
        each took one bite and were so disappointed. They didn’t even want to
        finish them. And of course, I was annoyed I’d paid top dollar for
        something that tasted so boring after what we’d been eating from your
        farm. According to our son, ‘all other pork chops taste like chicken!’”
        %br
        %br
        \- Lindsay I., Missoula

    .row
      .col-sm-4.col-sm-offset-4
        .devider
          = image_tag 'tucker_farm_icon'
