%section#callout-three.callout.parallax
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .testimonials-slider
          .owl-item
            %blockquote I didn't know what pork could taste like.
            .testimonial-author
              .row
                .col-sm-6.testimonial-avatar
                  = image_tag 'tucker_farm_avatar'
                .col-sm-6.testimonial-info
                  %h4 Kim T., Great Falls
                  .stars
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star.star-off

          .owl-item
            %blockquote My son - ‘all other pork chops taste like chicken!’
            .testimonial-author
              .row
                .col-sm-6.testimonial-avatar
                  = image_tag 'tucker_farm_avatar'
                .col-sm-6.testimonial-info
                  %h4 Lindsay I., Missoula
                  .stars
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star

          .owl-item
            %blockquote The best damn farm I've ever seen.
            .testimonial-author
              .row
                .col-sm-6.testimonial-avatar
                  = image_tag 'tucker_farm_joe_t'
                .col-sm-6.testimonial-info
                  %h4 Joe T., Hamilton
                  .stars
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star
                    %i.fa.fa-star.star-off
