%section#tff-careers.callout
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center.long-down
        = image_tag 'tucker_farm_divider_top'
    .row
      .col-sm-10.col-sm-offset-1
        %h2.callout-text Employment

%section#about.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Internship opportunities
          %h3.module-subtitle Do something different
    .row
      .col-sm-8.col-sm-offset-2.text-center
        We are currently looking for two full season interns for 2015. The full
        season runs from February 1st, when we start lambing, to November 1st.
        Please contact us if you are interested and would like more information.
    %br
    .row
      .col-sm-8.col-sm-offset-2.text-center
        If you are interested in an educational opportunity but can’t swing the
        full season, we do offer shorter stay options. Just contact us for
        information and availability.
    .row
      .col-sm-6.col-sm-offset-3
        .devider
          = image_tag 'tucker_farm_icon'
