%section#home.intro-module.module-image.heightfull.bg-dark-alfa-30{style: 'color: black;'}
  .intro
    .module-header
      %h2.module-title{style: 'color: black;'} Error 500
      %h3.module-subtitle{style: 'color: black;'} Internal Server Error
    .lead.long-up.long-down
      %p
        Looks like something went wrong!
        %br
        That is all we know.
    %p
      %a.btn.btn-custom-5{href: root_path}
        %i.icon-before.fa.fa-angle-left
        Back to home page
