-# %footer#footer.navbar-fixed-bottom
-#   .container
-#     .row
-#       .col-sm-12
-#         %p.copyright
-#           © #{Time.current.year}
-#           = succeed ',' do
-#             %a{href: root_path} TuckerFamilyFarm
-#           All Rights Reserved.

.scroll-up.page-scroll
  %a{href: '#totop'}
    %i.fa.fa-angle-double-up
